.weather-display {
  /* sizing */
  width: 80%;
  height: fit-content;
  padding: 1em;
  /* display */
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* styling */
  color: black;
  border-radius: 2em;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.379);
  background-color: #e9e9ed;
  text-align: center;
}

#location-country {
  font-weight: 600;
  opacity: 0.8;
}

#image-container {
  padding-bottom: 1em;
  width: 80%;
  margin: 1em 0 2em 0;
  box-shadow: 0em 1em 0.5em -0.8em #c0c0c0;
}

#weather-image {
  width: 5em;
  height: 5em;
}

#temperature {
  color: #3b3b3b;
}

#weather-type {
  font-size: 0.825em;
}

#additional-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
