#header-div {
  height: 10em;
  display: flex;
  align-items: center;
  gap: 10em;
  box-shadow: 0 0.5em 0.1em -0.3em;
}

.task-button {
  padding: 0.5rem;
  font-size: 3rem;
  border-radius: 2rem;
  border: 0;
  box-shadow: 0.2rem 0.2rem 0.2rem black;
}
