#error-container {
  /* sizing */
  width: 80%;
  height: 7.5em;
  padding: 1em;
  /* display */
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* styling */
  background-color: #ff0000b7;
  border-radius: 1em;
}

#error-message {
  color: black;
  font-weight: 500;
}

#try-again {
  font-size: 1em;
  color: black;
  opacity: 0.7;
  font-style: italic;
}
